* {
    font-family: "Roboto", sans-serif;
   background-color: black;
   color: white;
}

.margin {
    margin-top: -30px;
}
.newlogo{
    /* font-family: "Macondo", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 3.2rem;
  color: rgb(156, 37, 37); */
  font-family: "Pacifico", cursive;
  font-weight: 300;
  color: rgb(137, 29, 29);
  font-style: normal;
  font-size: 2.8rem;
  /* border: 2px solid rgb(156, 37, 37); */
  border-radius: 7px;
  padding: 5px;
}

.bg-white {
    background-color: white;
    color: black;
}
#bgBlack{
    background-color: black;
}
/* #localVideoPlayer{
    border: 1px solid white;
} */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* .logo {
    height: 44px;
} */

.nav-item a {
    color: white !important;
    font-size: 16px;
    /* padding: 0 15px; */
    font-weight: 600;
    margin-left: 15px;
}

.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

li.nav-item {
    padding: 0 10px;
}

.sign-in:hover{
    border-bottom: 2px solid white;
}
.signin-image {
    height: 390px;
    border: 25px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
}

textarea:focus, input:focus {
    outline: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

#btnset {
    display: flex;
    justify-content: space-between;
    /* -ms-flex-align: center !important; */
    align-items: center !important;
    position: absolute;
    bottom: 1px;
    margin-left: -6px;
}
#btnsend{
    margin-left: 50px;
}

#msgbox{
    width: 140px;
}

/* #send {
    margin-right: 85px;
} */
.jumbotron {
    background-color: white;
}

.bg-color {
    background-color: rgb(181, 53, 53);
    color: white;
    border: 1px solid rgb(181, 53, 53);
}

.font-color {
    /* color: rgb(181, 53, 53); */
    color: white;
}

.hover-bg-red:hover {
    background-color: rgb(181, 53, 53);
    color: white;
}

.hover-bg-white:hover {
   
    background-color: black;
    color: rgb(181, 53, 53);
}

.neg-margin {
    margin-top: -50px;
    border-bottom: 1px solid rgb(181, 53, 53);
}

                                                    /* index page */
.home-wrap {
    background-color: rgb(31, 30, 30);
    
}

.g-top {
    height: 90vh;
    position: relative;
}

.video-wrap {
    height: 600px;
}

.video-wrap >*{
    flex: 1 1 250px;
    border: 1px solid white;
}

.g-top-left {
    position: absolute;
    right: 0;
    height: 8vh;
    top: 0;
    border-bottom-left-radius: 10px;
}

.top-left-participant-wrap {
    position: relative;
}
.cursor-pointer:hover {
    background-color: rgba(198, 197, 197, 0.961);
    border-radius: 5px;
}

.top-left-participant-count {
    position: absolute;
    top: -2px;
    right: -3px;
    font-size: 15px;
    color: gray;
    background-color: white;
}

.g-bottom {
    /* margin: 0 -10px !important; */
    padding: 0 20px;
    box-shadow: 0 0 5px black;
    z-index: 2;
}

.top-box {
    background-color: rgb(14, 6, 6);
    position: fixed;
    width: 30%;
    height: 30%;
    top: 20.5%;
    left: 35.5%;
    display: block;
    box-shadow: 0 0 5px white;
    border-radius: 10px;
    z-index: 999;
    color: white;
    border: 2px solid white;
}

.bottom-left {
    position: relative;
    padding:5px;
}

.action-icon-style {
    font-size: 8px !important;
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

/* .action-icon-style span.material-icons {
    font-size: 18px;
}    */

.end-call-wrap {
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.top-remote_video_show_wrap {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 50%;
}
video {
    border: 1px solid gray;
    width: 400px;
}

.newVideo{
    margin-top: 185px;
    width: 400px;
}
.active {
    background-color: #00808047;
    border-radius: 5px;
}
.bottom-left{
    position: relative;
    padding: 5px;
}

.g-details {
    position: absolute;
    /* height: 120px; */
    width: 30vw;
    background-color: white;
    margin-top: -135px;
    color: black;
    border-radius: 5px;
    padding: 5px;
}

.g-details-heading-show {
    font-size: 14px;
    padding-left: 10px;
}

.meeting_url {
    color: white;
    padding: 5px 0;
}

.g-details {
    display: none;
    overflow: hidden;
    /* height: inherit; */
    transition: height 0.3s ease-out;
    min-height: 18vh;
}

/* .g-details-heading-show, .g-details-heading-show-attachment {
    display: none; 
} */

.active {
    background-color: green; 
}

.hidden {
    display: none;
}
.fade {
    transition: opacity 0.3s ease;
}
.show {
    opacity: 1;
}
.hide {
    opacity: 0;
}

.recording-show {
    position: absolute;
    margin-left: -50px;
    margin-bottom: 132px;
    width: 140px;
    display: none;
}

.g-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10; /* Ensure it’s above other content */
}
/* Add padding or margin to the bottom of the main content */
.home-wrap {
    padding-bottom: 10vh; /* Adjust this value to match the height of .g-bottom */
}

